In [1]:
pip install geopandas

Requirement already satisfied: geopandas in c:\users\jsh\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: pandas>=1.0.0 in c:\users\jsh\anaconda3\lib\site-packages (from geopandas) (1.4.2)
Requirement already satisfied: pyproj>=2.6.1.post1 in c:\users\jsh\anaconda3\lib\site-packages (from geopandas) (3.4.1)
Requirement already satisfied: fiona>=1.8 in c:\users\jsh\anaconda3\lib\site-packages (from geopandas) (1.8.22)
Requirement already satisfied: shapely>=1.7 in c:\users\jsh\anaconda3\lib\site-packages (from geopandas) (2.0.0)
Requirement already satisfied: packaging in c:\users\jsh\anaconda3\lib\site-packages (from geopandas) (21.3)
Requirement already satisfied: setuptools in c:\users\jsh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (61.2.0)
Requirement already satisfied: six>=1.7 in c:\users\jsh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: munch in c:\users\jsh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: certifi in c:\users\jsh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: attrs>=17 in c:\users\jsh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: click-plugins>=1.0 in c:\users\jsh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: click>=4.0 in c:\users\jsh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (8.0.4)
Requirement already satisfied: cligj>=0.5 in c:\users\jsh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: colorama in c:\users\jsh\anaconda3\lib\site-packages (from click>=4.0->fiona>=1.8->geopandas) (0.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\jsh\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\jsh\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jsh\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\jsh\anaconda3\lib\site-packages (from packaging->geopandas) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import geopandas as gpd
import pandas as pd
import folium
from folium.plugins import MarkerCluster
from shapely.ops import unary_union
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv("KP2020.csv", encoding="cp949")
df2 = pd.read_csv("KP2021.csv", encoding="cp949")
df3 = pd.read_csv("NPA2020.csv", encoding="cp949")

In [3]:
df1

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
0,충남청,20/12/01 01:43:07.000000000,19,10,305,1.0,충청남도 보령시 궁촌동(행정:대천4동) 369,126.598345,36.341537,Y
1,대전청,20/12/01 02:05:04.000000000,13,10,601,3.0,NaN,127.404663,36.341685,NaN
2,대전청,20/12/01 02:06:52.000000000,13,10,601,1.0,NaN,127.404663,36.341685,NaN
3,충남청,20/12/01 02:37:25.000000000,19,10,606,3.0,충청남도 보령시 천북면 하만리 628-10,126.524980,36.474390,N
4,충남청,20/12/01 08:17:50.000000000,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN
...,...,...,...,...,...,...,...,...,...,...
77072,충남청,20/12/31 01:18:16.000000000,19,10,302,2.0,충청남도 보령시 주교면 주교리(행정:주교면) 191-6,126.571002,36.387791,NaN
77073,충남청,20/12/31 01:17:45.000000000,19,10,501,3.0,NaN,NaN,NaN,NaN
77074,충남청,20/12/31 00:13:50.000000000,19,10,604,3.0,충청남도 아산시 온천동(행정:온양1동) 1498,127.000391,36.788411,NaN
77075,대전청,20/12/31 00:49:29.000000000,13,10,302,2.0,대전광역시 서구 갈마동(행정:갈마2동) 975,127.373351,36.348051,Y
77076,대전청,20/12/31 00:49:06.000000000,13,10,601,3.0,NaN,NaN,NaN,NaN

In [4]:
df2

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
0,대전청,21/03/07 00:00:01.000000000,13,10,604,3.0,대전광역시 서구 둔산동 1122,127.373676,36.350975,Y
1,대전청,21/03/07 00:02:13.000000000,13,10,201,1.0,대전광역시 유성구 상대동(원신흥동) 469-9,127.339018,36.347420,NaN
2,대전청,21/03/07 00:00:33.000000000,13,10,601,3.0,NaN,127.404663,36.341685,NaN
3,대전청,21/03/07 00:01:18.000000000,13,10,601,3.0,NaN,127.404663,36.341685,NaN
4,대전청,21/03/07 00:01:43.000000000,13,10,308,1.0,대전광역시 중구 선화동 141-16,127.420455,36.330413,NaN
...,...,...,...,...,...,...,...,...,...,...
2594055,대전청,23/01/12 11:23:09.000000000,13,10,104,1.0,대전광역시 유성구 봉명동 (행정:원신흥동 ) 1016-7,127.344600,36.352272,NaN
2594056,충남청,23/01/16 11:59:47.000000000,19,10,307,2.0,충청남도 서산시 음암면 부장리(음암면 ) 560-4,126.514047,36.785626,NaN
2594057,충남청,23/01/16 11:58:54.000000000,19,10,601,3.0,NaN,NaN,NaN,NaN
2594058,충남청,23/01/14 01:00:47.000000000,19,10,601,3.0,NaN,NaN,NaN,NaN
2594059,대전청,23/01/14 01:22:31.000000000,13,10,606,1.0,NaN,127.404663,36.341685,NaN

In [5]:
df3

,RECV_CPLT_DT,RECV_CPLT_TM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
0,20200101,7,13,10,501,2,대전광역시 중구 목동(행정:목동) 360,127.409270,36.333010,Y
1,20200101,132,13,10,501,1,대전광역시 중구 대흥동(대흥동) 499-1,127.421295,36.325575,NaN
2,20200101,39,13,10,501,1,NaN,127.404663,36.341685,NaN
3,20200101,110,13,10,601,3,NaN,0.000000,0.000000,NaN
4,20200101,342,13,10,601,1,NaN,127.404663,36.341685,NaN
...,...,...,...,...,...,...,...,...,...,...
1178239,20201122,3505,19,10,501,1,,NaN,NaN,
1178240,20201122,5213,13,10,601,,,127.404663,36.341685,
1178241,20201122,4627,19,10,601,1,,NaN,NaN,Y
1178242,20201122,5246,19,5,301,1,충청남도 보령시 신흑동(행정:대천5동),126.516040,36.305619,
1178243,20201122,1134,13,10,601,,,127.404663,36.341685,

In [7]:
#데이터 전처리
KP = pd.concat([df1, df2], axis=0, ignore_index=True)
KP = KP[['RECV_CPLT_DM','EVT_CL_CD', 'HPPN_X','HPPN_Y']]
KP = KP.dropna()
KP = KP.rename(columns={'RECV_CPLT_DM':'Time', 
                        'EVT_CL_CD':'Type',
                        'HPPN_X':'X',
                        'HPPN_Y':'Y'})
KP['Time'] = KP['Time'].str.replace(".000000000", "")
KP = gpd.GeoDataFrame(KP, geometry=gpd.points_from_xy(KP.X, KP.Y))
KP = KP.rename(columns={'geometry':'Location'})
KP['Time'] = pd.to_datetime(KP['Time'], format='%y/%m/%d %H:%M:%S')
KP.index = KP['Time']
KP.drop(['Time'], axis=1, inplace=True)
KP = KP.sort_index()

C:\Users\JSH\AppData\Local\Temp\ipykernel_41660\1460356897.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  KP['Time'] = KP['Time'].str.replace(".000000000", "")

In [10]:
#위도, 경도가 반대로 입력된 데이터 제거
KP.drop(KP[KP['X']<KP['Y']].index, axis=0, inplace=True)

In [11]:
KP

                     Type           X          Y                    Location
Time
2020-12-01 00:00:54   406  127.377982  36.299738  POINT (127.37798 36.29974)
2020-12-01 00:02:07   406  127.057063  36.774519  POINT (127.05706 36.77452)
2020-12-01 00:02:08   501  127.408753  36.321745  POINT (127.40875 36.32175)
2020-12-01 00:02:22   505  127.337740  36.368390  POINT (127.33774 36.36839)
2020-12-01 00:03:18   201  127.141725  36.828716  POINT (127.14172 36.82872)
...                   ...         ...        ...                         ...
2023-01-18 23:57:09   601  127.404663  36.341685  POINT (127.40466 36.34168)
2023-01-18 23:57:29   501  127.416765  36.332993  POINT (127.41676 36.33299)
2023-01-18 23:58:32   601  127.404663  36.341685  POINT (127.40466 36.34168)
2023-01-18 23:58:33   501  127.404663  36.341685  POINT (127.40466 36.34168)
2023-01-18 23:59:40   406  127.019848  36.778266  POINT (127.01985 36.77827)

[1959967 rows x 4 columns]

In [12]:
# TA = Traffic Accident, 중복 좌표 제거
TA = KP.loc[KP['Type'] == 601]
TA.drop_duplicates(['X', 'Y'], inplace=True)

C:\Users\JSH\AppData\Local\Temp\ipykernel_41660\1744968819.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TA.drop_duplicates(['X', 'Y'], inplace=True)

In [31]:
#멀리 떨어져있는 데이터 삭제
def crop(df, percentile_x=[0.001, 0.999], percentile_y=[0.001, 0.999]):

    min_x = df['X'].quantile(percentile_x[0])
    max_x = df['X'].quantile(percentile_x[1])
    min_y = df['Y'].quantile(percentile_y[0])
    max_y = df['Y'].quantile(percentile_y[1])
    df_cleaned = df[(df['X'] > min_x) & (df['X'] < max_x)
                    & (df['Y'] > min_y) & (df['Y'] < max_y)]
    return df_cleaned, (min_x, max_x, min_y, max_y)

TA, (min_x, max_x, min_y, max_y) = crop(TA)

min_x, max_x, min_y, max_y

(126.298870228, 127.495307176, 36.05228416, 37.054748239999995)

In [13]:
# From https://github.com/vuski/admdongkor
geo=gpd.read_file("HangJeongDong_ver20230101.geojson")

In [72]:
def visualize_by_city(df, column="sidonm", name="대전광역시"):
    # 분리되어 있는 map polygon 불러오고, 하나로 합침
    map_seperated = geo[(geo[column]==name)]
    map_union = unary_union(map_seperated["geometry"])
    
    # df에서 해당 polygon 내부의 좌표에 해당하는 점들만 loaction에 포함함
    f = lambda x: map_union.contains(x)
    result = df['Location'].apply(f)
    df_within = df[result]
    location = df_within['Location']
    
    # visualization
    plt.rcParams['font.family']='Malgun Gothic'
    ax = map_seperated.plot(color='white',edgecolor='black',figsize=(8,8)) #지도
    location.plot(ax=ax,color='red') #점
    plt.show()

In [ ]:
visualize_by_city(TA, name="충청남도")